<!DOCTYPE html>
<html>
	<head>
		<title>BookstoreApp</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>     
	<body>
		<div class="container">
			<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
				<h5 class="my-0 mr-md-auto font-weight-normal"> Sheffield Bookstore </h5>
				<nav class="my-2 my-md-0 mr-md-3">
					<a class="p-2 text-dark" href="#"> <%= link_to "Home", '#' %> </a>
					<a class="p-2 text-dark" href="#"> <%= link_to "About Us", '#' %> </a>
					<a class="p-2 text-dark" href="#"> <%= link_to "Contact Us", '#' %> </a> 
					<a class="p-2 text-dark" href="#"> <%= link_to 'Add New Book', new_book_path %> 
					<a class="p-2 text-dark" href="#"> <%= link_to 'Add New Novel', new_novel_path %> 
					<a class="p-2 text-dark" href="#"> <%= link_to 'View Novel Details', novels_path %> 
					<a class="p-2 text-dark" href="#"> <%= link_to 'Add New Author', new_author_path %> 
					<a class="p-2 text-dark" href="#"> <%= link_to 'Add New Genre', new_genre_path %> 
					<a class="p-2 text-dark" href="#"> <%= link_to 'Add New Publisher', new_publisher_path %> 
					</a> 
				</nav>
			</div>
		</div>
		<div class="container">
			<%= yield %>	
		</div>
	</body>
</html>
